---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="一名新司机到老司机的技术生涯"
	pubDate={new Date('August 08 2023')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
  嗨！大家好，我是一位拥有十多年技术经验的开发者。我就像是一位技术冒险家，探索着编程世界的奥秘。
  </p>
  我的技术领域广泛而深入。我熟练掌握着 Kubernetes，这是一个强大的容器编排工具，可以帮助应用程序高效地运行和扩展。我还精通 NestJS，这是一个基于 typescript 的框架，可以帮助我构建出可靠、可扩展的后端应用。同时，我也热衷于使用 Vue3 和 React 开发前端应用，当然 SSR 方案的 NextJS 也必不可少，它们让我能够创建出交互丰富、用户友好、高效快速的界面。
<p>
	除此之外，我对 Linux操作系统非常熟悉。Linux 为我提供了一个稳定、安全的开发环境，让我能够更好地专注于编写高质量的代码。另外，我还热衷于使用 Astro ，这是一个新兴的静态网站生成工具，可以帮助我快速构建出优雅且高性能的网站。
</p>

<p>
	我最擅长的领域之一还有 CI/CD（持续集成和持续交付）。我喜欢将开发流程自动化，通过使用各种工具和技术，如 Jenkins、GitLab CI 等，特别是 GitHub Action，来实现持续集成、自动化测试和持续交付，从而提高团队的效率和产品的质量。
</p>

<p>
	除了技术方面，我还是一位开源爱好者。我积极参与和贡献开源项目，与全球的开发者社区进行交流和合作。我相信开源的力量，它不仅推动了技术的进步，还促进了合作和共享。
</p>

<p>
	写代码对我来说不仅仅是一份工作，更是一种乐趣。通过编写高质量的代码，我能够实现自己的创意和构建有意义的解决方案。我喜欢面对挑战，并且不断学习和探索新的技术，以保持自己在不断变化的技术领域中的竞争力。
</p>

<p>
	感谢您阅读我的个人介绍。如果您对我的技术背景和经验感兴趣，欢迎与我进一步交流和合作。谢谢！
</p>
</Layout>
