---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import CardContent from '../components/CardContent.vue';
import ContactSidebar from '../components/ContactSidebar.vue';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <script	src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js' defer></script>
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main class="container">
			<CardContent client:load />
			<ContactSidebar client:load />
		</main>
		<Footer />
	</body>
</html>
