---
const today = new Date();
---

<footer>
  <div class="icp-links">
    &copy; {today.getFullYear()} ygqygq2. All rights reserved.
    <a href="https://beian.miit.gov.cn/" target="_blank" rel="nofollow">粤ICP备2023006453号-2</a>
    <a href="https://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44040202001420" target="_blank" rel="nofollow">44040202001420</a>

  </div>
</footer>
<style>
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3.6em;
    padding: 1em 1em 2em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
  .icp-links {
    color: rgb(var(--gray));
  }

  .icp-links a {
    margin-right: 1em;
    color: inherit;
    text-decoration: none;
  }
</style>
